/*----------Reset----------*/
*{
    margin: 0;
    padding: 0;
}

/*----------Body----------*/

.game_container{
    background: black;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}

/*----------top----------*/
.game_container_top{
    position: relative;
    color: white;
    background: blue;
    text-align: center;
    grid-column: span 2;
    width: 100%;
    height: 100%;
    background-image: url("./assets/BG_Placeholder.png");
}

.disclaimer{
    font-size: 0.5rem;
}

.game_container_top h1{
    z-index: 10;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    overflow: hidden;
}

.statistics_container{
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    /*----------Left----------*/
.game_container_left{
    position: relative;
    background: red;
    text-align: center;
    grid-row: span 4;
    width: 105%;
    height: 100%;
    background-image: url("./assets/BG_Placeholder.png");
    background-repeat: repeat-y;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.game_container_left *{
    color: #fff;
}

/*----------right----------*/
.game_container_right{
    position: relative;
    background: red;
    text-align: center;
    grid-row: span 4;
    width: 105%;
    height: 100%;
    background-image: url("./assets/BG_Placeholder.png");
    background-repeat: repeat-y;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.game_container_right *{
    color: #fff;
}


    /*----------Center----------*/
.game_container_center{
    background: grey;
    text-align: center;
    grid-column: span 2;
    grid-row: span 3;
    width: 100%;
    height: 100%;
    position: relative;
}

.center_ui{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
}

.center_health_bar{
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 20px;
    height: 40px;
    width: 400px;
    z-index: 1;
    margin-bottom: 15px;
}

.center_health_bar_progress{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient(to right, #ffb3b3, #ba2727, #690000);
    border-radius: 20px;
    height: 100%;
    width: 100%;
    transition: 0.1s ease;
    z-index: 2;
}

#healthbar_text{
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center_attack_bar{
    background-color: black;
    border-radius: 20px;
    height: 30px;
    width: 300px;
    z-index: 1;
}

.center_attack_bar_progress{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient(to left, #635829, #80774d, #dad3b6);
    border-radius: 20px;
    height: 100%;
    width: 0;
    transition: 0.1s ease;
    z-index: 2;
}

.center_visuals{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #00ff3c;
}

#monster_image{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

#weapon_image{
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transform: scale(1.2);

}

#weapon_image.active{
    transform: scale(1);

}

.fade-up {
    animation: fade-up 1s;
}

@keyframes fade-up {
    0%{
        transform: translateY(0);
        opacity: 0.9;
    }
    20%{
        transform: translateY(-5px);
        opacity: 0.8;
    }
    40%{
        transform: translateY(-15px);
        opacity: 0.6;
    }
    60%{
        transform: translateY(-25px);
        opacity: 0.4;
    }
    80%{
        transform: translateY(-45px);
        opacity: 0.2;
    }
    100%{
        transform: translateY(-75px);
        opacity: 0;
    }
}




/*----------Mobile Screens----------*/
@media screen and (max-width: 960px){
    .game_container{
        background: black;
        position: fixed;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
    
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
    }


    .game_container_left{
        display: none;
        background: red;
        text-align: center;
        grid-row: span 4;
        width: 100%;
        height: 100%;
    }

    .game_container_right{
        display: none;
        background: red;
        text-align: center;
        grid-row: span 4;
        width: 100%;
        height: 100%;
    }
}